# /etc/nginx/conf.d/{{ conf_name }}.conf

upstream django-{{ program_name }} {
     server unix:{{ socket }};
}


server {
    listen 80;

    server_name {{ conf_server_name }}

    charset     utf-8;

    #access_log  /var/log/nginx/log/host.access.log  main;

    # max upload size
    client_max_body_size 1G;   # adjust to taste

    # fix an upstream response is buffered to a temporary file
    #proxy_buffering off;
    #proxy_buffers 8 64k;
    #proxy_buffer_size 64k;
    #uwsgi_buffering off;
    uwsgi_buffer_size 4k;
    uwsgi_buffers 32 4k;
    
    # ELB health check
    location /healthcheck.txt {
        root   /usr/share/nginx/html;
        access_log off;
    }

    {{ location_static_admin }}
    
    {{ location_static }}
    
    {{ location_media }}

    {{ location_root }}
}
