# /etc/uwsgi.yaml
#
# uwsgi --emperor /etc/uwsgi/vassals --uid nginx --gid nginx

uwsgi:
  # socket: 127.0.0.1:3031
  socket: {{ socket }}
  chmod-socket: 666
  chdir: {{ program_path }}/{{ program_name }}
  wsgi-file: {{ wsgi_file }}
  master: true                             # Enable uWSGI master process.
  enable-threads: true
  pidfile: {{ pidfile }}
  processes: 2
  threads: 30
  stats: 127.0.0.1:9191                    # Enable the stats server on the specified address.
  no-orphans: true                         # Automatically kill workers if master dies (can be dangerous for availability).
  touch-reload: /tmp/{{touch_reload_name}}.txt  # Reload uWSGI if the specified file or directory is modified/touched.
#  uid: nginx
#  gid: nginx
  vacuum: true                             # clear environment on exit
#  import: uwsgi_autoreload
  logfile-chmod: 644
  log-date: [%%a %%b %%d %%H:%%M:%%S %%Y]
  daemonize: /var/log/uwsgi/{{ log_name }}.log  # Daemonize uWSGI and write messages into given log file or UDP socket address.
  disable-logging: true   # Disable request logging. (start with [pid: ...)
  touch-logreopen: /tmp/uwsgi_log_reopen.txt
  listen: 4096
